{  margin: 0;
    padding: 0;
  
    background-size: cover;
    font-family :arial;

}

nav {
    width: 100%;
    margin: auto;
    text-align: center;

}

nav ul {
    background: pink;
    padding: 0px 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li:hover a {
    background:#f2a5d6;
}

nav ul li a {
    display: block;
    padding: 25px;
    text-decoration: none;
}

nav ul ul {
    background: #f2a5d6;
    border-radius: 0px;
    padding: 30px;
    position: absolute;
    top: 100%;
}
nav ul ul li {
    float: none;
    border-top: 1px;
    border-bottom: 1px;
    position: relative;
}

nav ul ul li a {
    padding: 10px 30px;
    color:#1a1619;
}

nav ul ul li a :hover {
    background-color:#659e55;
}

nav ul ul {
    display: none;
}

nav ul li:hover> ul{
    display: block;
    width: 80px;
}

.container {
    padding: 10px;
}

h2 {
    color:#659e55;
    margin-bottom: 10px;
}

.buttonutama {
    border: 1px solid pink;
    background: rgb(241, 138, 215);
    color: white;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 1em;
}

.buttonutama:hover{
    background: pink;
}

.buttondanger {
    border: 1px solid pink;
    background:;
    color: white;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 1em;
}

.buttondanger:hover{
    background:pink;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    margin-top: 20px;
  }
   
  table th {
    padding: 10px 20px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
  }
   
  table tr {
    text-align: center;
    padding-left: 0px;
  }
   
  table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }
   
  table td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
   
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
   
  table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
   
  table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }
  RAW Paste Data
  table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    margin-top: 20px;
  }
  
  table th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
  }
  
  table tr {
    text-align: center;
    padding-left: 20px;
  }
  
  table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }
  
  table td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
  
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
   
  table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
   
  table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }
  









